body
{
    text-align: center;
    color: rgb(132, 168, 166);
    font-family:CHICKEN Pie Height;
    margin: 0;
    padding: 0;
}

#spanini
{
   color: rgb(243, 241, 112);
}

#cabecera
{
    background-color: rgb(255, 161, 161);
    color: rgb(156, 105, 107);
    font-weight: bold;
    margin: 0%;
    padding: 0.9em;
    font-size: 20px;
}

#cabecera #minicabe
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
    
}

#cabecera #logo
{
    width: 65px;
    vertical-align: middle;
}

#container
{   
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(112, 42, 83);
    margin: 0 auto
}

#post
{
    background: white;
    padding: 1em;
}

#container h1
{
    font-size: 20px;
}

#h1
{
    color: rgb(95, 131, 148);
}